
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akronim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

html {
    scroll-behavior: smooth;
}

:root {
    --main-color: #B0C4DE;
    --second-color: #ffd154;
}

body {
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.justify-content {
    justify-content: space-between;
}

.section-padding {
    padding: 80px 0;
}

.container {
    margin: auto;
    max-width: 1200px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.top {
    background-color: transparent;
    position: fixed;
    width: 100%;
    z-index: 99;
    transition: all 0.5s ease 0s;
}

    .top.sticky {
        background-color: var(--main-color);
    }

    .top::before {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: var(--main-color);
        z-index: -1;
        transform: translateY(-100%);
    }

    .top.sticky::before {
        transform: translateY(0);
    }

    .top .logo img {
        width: 60px;
        border-radius:10px;
    }

    .top .menu-bar {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 0.3s ease;
        right: 30px;
    }

        .top .menu-bar.active {
            position: fixed;
            top: 30px;
            right: 0;
            transform: translateX(-200px);
            z-index: 1;
            background-color: var(--main-color);
        }

            .top .menu-bar.active span {
                background-color: transparent;
            }

                .top .menu-bar.active span::before {
                    transform: rotate(-135deg);
                }

                .top .menu-bar.active span::after {
                    transform: rotate(135deg);
                }

        .top .menu-bar span {
            height: 2px;
            width: 40px;
            background-color: black;
            display: block;
            position: relative;
            transition: all .01s ease;
        }

            .top .menu-bar span::before {
                height: 100%;
                width: 100%;
                background-color: black;
                content: "";
                display: block;
                position: absolute;
                transform: translateY(-10px);
            }

            .top .menu-bar span::after {
                height: 100%;
                width: 100%;
                background-color: black;
                content: "";
                display: block;
                position: absolute;
                transform: translateY(10px);
            }

.menu-items {
    position: fixed;
    background-color: var(--main-color);
    width: 250px;
    height: 100vh;
    right: 0;
    top: 0;
    padding: 200px 30px;
    transition: all 0.3s ease;
    transform: translateX(100%);
    
}

    .menu-items.active {
        transform: translateX(0);
    }

    .menu-items ul {
        text-align: center;
        
    }

    .menu-items a {
        color: black;
        line-height: 40px;
        font-size: 30px;
        font-family: 'Oswald', sans-serif;
        font-weight: bold;
       
    }

        .menu-items a:hover {
            color: var(--second-color);
            border-bottom: .19rem solid var(--second-color);
        }

/*--------------------------Background------------------------------*/
.background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

    .background::before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url("/Content/images/background.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;   
        z-index: -2;
        animation: Inout 5s infinite;
    }

@keyframes Inout {
    0%,100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }
}

.background::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    z-index: -2;
}

.background .background-content {
    text-align: center;
    max-width: 500px;
}

    .background .background-content h2 {
        font-size: 47px;
        color: #FACC2E;
        font-family: 'Permanent Marker', cursive;
    }

    .background .background-content p {
        font-size: 30px;
        color: #FACC2E;
        font-weight: bold;
        margin: 15px 0;
        font-weight: bold;
        font-family: 'Caveat', cursive;
    }

.btn {
    border: 2px solid #FACC2E;
    border-radius: 10px;
        
    padding: 10px 30px;
    color: #FFD700;
    transition: all .3s ease;
    cursor: pointer;
}

    .btn:hover {
        background-color: #AFEEEE;
        border: none;
        color: #000000;
    }


/*------------------------------------------------Content-----------------------------------------------*/
.about {
    background-color: var(--main-color);
    padding-top: 150px;
    padding-bottom: 230px;
}

.title {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    padding-top: 20px;
}

    .title h2 {
        font-size: 35px;
        font-family: 'Dancing Script', cursive;
        color: #000000;
        text-transform: uppercase;
    }

.about .about-item h2 {
    font-size: 25px;
    color: #B22222;
    font-family: 'Shadows Into Light', cursive;
}

.about .about-item p {
    font-size: 20px;
    color: #000000;
    margin: 15px 0 30px;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
}

.about .about-item img {
    width: 100%;
    border-radius: 15px;
    height: 380px;
}

.about-item {
    width: calc(100%/2);
    padding: 10px;
}

.about-item-img {
    position: relative;
}

    .about-item-img span {
        position: absolute;
        top: 45%;
        left: 150px;
        color: #F6CEE3;
        font-family: 'Dancing Script', cursive;
        font-weight: 900;
        font-size: 30px;
        animation: Inout 5s infinite;
    }

    .about-item-img::before {
        content: "";
        display: block;
        width: 100px;
        height: 100px;
        border: 5px solid orange;
        position: absolute;
        top: calc(50% - 50px);
        left: calc(50% - 46px);
        animation: move 2s infinite;
        transition: all 0.5s ease;
    }

@keyframes move {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
/*-----------------------------------------SIGNUP-------------------------------------------------*/

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

    /* Add a background color when the inputs get focus */
    input[type=text]:focus, input[type=password]:focus {
        background-color: #ddd;
        outline: none;
    }

/* Set a style for all buttons */
.signup-button button {
    background-color: var(--main-color);
    color: var(--second-color);
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    font-size: 17px;
}

    .signup-button button:hover {
        opacity: 1;
        background-color: #AFEEEE;
        color: ;
    }

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    margin: 8px 0;
    background-color: #f44336;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

    .cancelbtn:hover {
        opacity: 1;
    }

.signupbtn, .loginbtn {
    background-color: #088A85;
    color: var(--second-color);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

    .signupbtn, .loginbtn:hover {
        opacity: 1;
    }
/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
    float: left;
    width: 50%;
}

.loginbtn {
    align-items: center;
    width: 30%;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

    .close:hover,
    .close:focus {
        color: #f44336;
        cursor: pointer;
    }

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn, .loginbtn {
        width: 100%;
    }
}

.login-button button {
    background-color: var(--main-color);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    font-size: 17px;
}
    .login-button button:hover {
        opacity: 1;
        background-color: #AFEEEE;
        color: white;
    }

.logout-button {
    background-color: var(--main-color);
    color: var(--second-color);
}
/*-------------------------------------------MENU------------------------------------------*/

.menu {
    background-color: #4682B4;
    padding: 100px 0 180px 0;
}

.menu-title {
    padding-top: 30px;
    width: 100%;
    text-align: center;
}

    .menu-title .menu-button {
        background-color: transparent;
        margin: 10px 12px;
        border: none;
        font-size: 20px;
        color: #000000;
        cursor: pointer;
        align-items: center;
        padding-bottom: 40px;
    }

        .menu-title .menu-button.active {
            color: #FA5858;
        }

        .menu-title .menu-button:hover {
            color: #FA5858;
        }

.list-items {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align:center;
    cursor: context-menu;
    position: relative;
    padding-bottom: 30px;

    
}
    .list-items::before {
        content: "";
        display: block;
        position: absolute;
        left: 15px;
        right: 15px;
        bottom: 0;
        border: .01px dotted black;
        opacity: 0.2;
        margin:20px;
    }

.list-item {
    display: flex;
    
    padding-left:110px;
    text-align:center;
}

    .list-item img {
        width: 130px;
        height: 90px;
        margin-right: 25px;
        padding-bottom: 14px;
    }

    .list-item p {
        color: #ffffff;
        transition: all .3s ease;
        font-size: 20px;
        
    }

.list-price p {
    color: black;
    transition: all .3s ease;
    text-align:center;
    font-size: 20px;
}

.menu-content {
    display: none;

}
    .menu-content.active {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
/*******************************************BOOKING***********************************************/
form {
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    background-color: #BDBDBD;
    text-align: center;
}

.booking {
    background-color: var(--main-color);
    text-align: center;
    justify-content: center;
    padding-top: 10px;
}

.booking-form-item {
    padding: 10px 10px;
    margin-bottom: 10px;
}


    .booking-form-item input {
        width: 100%;
        height: 40px;
        margin: 5px 0 22px 0;
        border: none;
        background: #f1f1f1;
    }

.booking button {
    border: 2px black;
    border-radius: 10px;
    background-color: #99FFCC;
    padding: 10px 30px;
    color: black;
    transition: all .3s ease;
    cursor: pointer;
}

    .booking button:hover {
        background-color: #FFCCCC;
        border: none;
    }
/*--------------------------------------SOME-FOODS----------------------------------*/
.some-foods {
    background-color: var(--main-color);
    padding-top: 150px;
    margin: auto;
    justify-content: space-between;
    padding-bottom:70px;
}

.some-foods-item {
    width: 30%;
    border-radius: 2px;
    transition: all 0.5s ease;
    position: relative;
    padding-bottom:10px;
 
}

    .some-foods-item img {
        width: 100%;
        height: 400px;
        border-radius: 5px;
        transition: transform ease-in-out 0.3s;
    }

        .some-foods-item img:hover {
            transform: scale(1.2);
            content: "";
            height: 100%;
            width: 100%;
            position: absolute;
            display: block;
            opacity: 1;
            cursor: zoom-in;
        }

    .some-foods-item:hover h2 {
        opacity: 1;
        position: absolute;
    }

    .some-foods-item h2 {
        font-family: 'Grechen Fuemen',cursive;
        color: purple;
        position: absolute;
        top: 87%;
        left: 50%;
        font-size: 18px;
        transform: translate(-50%,80%);
        transition: all 0.5s ease;
    }


/*-------------------------------ROOM-------------------------------------*/
.room {
    padding: 150px 0 195px 0;
    background-color: #4682B4;
   
}

.room-items {
    padding: 15px;
    width: calc(100%/3);
    position: relative;
}

    .room-items img {
        width: 100%;
        height: 400px;
        border-radius: 10px;
        transition: all 0.5s ease;
    }

    .room-items:hover .room-items-text {
        background-color: #F6CED8;
        transform: translateY(-5%);
    }

    .room-items:hover img {
        transform: skewX(2deg);
    }

.room-items-text {
    height: 90px;
    position: absolute;
    padding: 15px 0;
    right: 20px;
    left: 20px;
    bottom: 0;
    background-color: #A4A4A4;
    text-align: center;
    border-radius: 10px;
    transform: translateY(40%);
    transition: all 0.5s ease;
}

    .room-items-text h2 {
        color: black;
    }
/*-------------------------------------------BOOKING---------------------------------------------*/
form {
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    background-color: #BDBDBD;
    text-align: center;
}

.booking {
    background-color: var(--main-color);
    text-align: center;
    justify-content: center;
    padding-top: 10px;
}

.booking-form-item {
    padding: 10px 10px;
    margin-bottom: 10px;
}

    .booking-form-item select {
        width: 100%;
        height: 40px;
        margin: 5px 0 22px 0;
        border: none;
        background: #f1f1f1;
    }

    .booking-form-item input {
        width: 100%;
        height: 40px;
        margin: 5px 0 22px 0;
        border: none;
        background: #f1f1f1;
    }

.booking button {
    border: 2px black;
    border-radius: 10px;
    background-color: #99FFCC;
    padding: 10px 30px;
    color: black;
    transition: all .3s ease;
    cursor: pointer;
}

    .booking button:hover {
        background-color: #FFCCCC;
        border: none;
    }



/*----------------------------------FOOTER------------------------------------*/
.footer {
    background-image: url(/Content/images/ft2.jpg);
    padding-top: 80px;
    padding-bottom: 80px;
    background-position:top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}

    .footer::before {
        content: "";
        width: 100%;
        height: 100%;
        background-color: black;
        position: absolute;
        opacity: 0.4;
        top: 0;
        z-index: -1;
    }

.footer-item {
    text-align: center;
    color: white;
    padding-bottom: 40px;
}

    .footer-item h2 {
        font-family: 'Akronim', cursive;
        font-size: 25px;
        color: #FFBF00;
        margin-bottom: 10px;
    }

    .footer-item p {
        color: white;
        font-size: 16px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 35px;
        margin-bottom: 10px;
    }

    .footer-item i {
        font-size: 20px;
    }

.footer-social i {
    font-size: 25px;
    color: white;
    margin-right: 5px;
}

    .footer-social i:nth-child(1) {
        color: aqua;
    }

    .footer-social i:hover {
        color: var(--second-color);
        cursor: pointer;
        transition: var(--second-color);
    }

.footer-copyright {
    font-size: 23px;
    text-align: center;
    border-top: 3px solid black;
    margin-top: 20px;
    padding-top: 50px;
    color: #006400;
    font: bolder;
    font-weight: 100;
}
